* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
h1{
  font-size: 78px;
}
h2{
  font-weight: bold;
  font-size: 20pt;
}
h3{
  font-size: 20pt;
  font-weight: lighter;
}
li{
  list-style: none;
}
svg:hover{
  fill: #485CC7;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: #485CC7;
}
p{https://developer.mozilla.org/es/docs/Web/API/Intersection_Observer_API#compatibilidad_con_navegadores
  font-family: "Norms-regular";
}
body{
  background-color:#051E42;
  font-family: TT Norms;
  color: white;
  -moz-font-feature-settings: "liga" off;
  font-feature-settings: "liga" off;
}
@font-face {
  font-family: N-light;
  src: url(fonts/TTNorms-Light.otf);
}
@font-face {
  font-family: N-regular;
  src: url(fonts/TTNorms-Regular.otf);
}
@font-face {
  font-family: N-bold;
  src: url(fonts/TTNorms-bold.otf);
}
.container{
  max-width: 1520px;
  margin: 0 auto;
  align-content: center;
}
.AT-container{
  padding-top: 135px;
}
.At-footer{
margin-top: 100px;
}
.texto{
  color:white;
  font-weight: 100;
}
main{
  margin: 0 auto;
}
.above{
  height: 100%;
  margin-bottom: -200px;
}  
video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}
.menu{
  background: #a0a0a015; 
  -webkit-backdrop-filter: blur(5px); /*fixes Safari*/
  backdrop-filter: blur(5px);
  top: 0px;
  width: 1520px;
  height: 117px;
  background: 0% 0% no-repeat padding-box padding-box rgba(4, 30, 66, 0.83);
  border-radius: 0px 0px 18px 18px;
  opacity: 1;
  backdrop-filter: blur(7px);
  z-index: 9;
  position: fixed; 
  box-shadow: rgba(0, 0, 0, 0.306) 0px 3px 6px;
}
menu{
  flex-direction: row;
  flex-flow: row;
  display: flex;
  padding-left: 30px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-right: 50px;
  top: 20%;
  
}
.menuSafari{
  position:absolute;
  background-color: #485CC7;
}

#navega{
display: none;
}
.logo{
  width: 150px;
}
.option{
  display: flex;
  flex-flow: row;
  padding-left:50px;
}
button{
  color: white;
  top: 32px;
  left: 1385px;
  width: 304px;
  height: 45px;
  background:#A20067 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  font-weight: bold;
  font-family: TT Norms;
  border-style: none;
  font-size: 15pt;

}
.ATF{
  background-color: #A20067;
  margin-top: 25px;
  z-index: 1;
}
.above{
  padding-top: 300px;
  height: 100%;
}
h1{
  margin-bottom: 25px;
  font-size: 40pt;
}
.servicio{
  display: block;
  height: 100%;
  background-color: none;
  padding-top: 100px;
  text-align: left;
}
.seguridad{
  margin-top: 10px;
  text-align: center;
}
.cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 55px;
}
.card-wrapper{
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  border: none;
}
.crd{
  top: 30px;
  position: fixed;
  width:100%;
  }
.btn-card:hover{
  background-color: rgba(100, 100, 100, 0.3);
}
.icon-more{
  display: none;
}
.icon-more:hover{
transition: ease-in-out  .15s;
transform: rotate(90deg);
}
@keyframes animateh{
150%{
  height: 150%;
}
}
.card-tittle{
  position: absolute;
  display: flex;
  flex-flow: row;
  height: 90px;
  background-color: #000;
  border-radius: 18px 18px 0 0;
  top: 0;
  width: 692px;
  background: 0% 0% no-repeat padding-box padding-box rgba(0, 0, 0, 0.356);
  backdrop-filter: blur(30px);
  text-align: left;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.card-icon{
  width: 36px;
  margin-right: 20px;
}
.card-tittle:hover{
  background: 0% 0% no-repeat padding-box padding-box rgba(100, 100, 100, 0.1);
  
}
.card-icon-tittle{
  display:flex;
  position: absolute;
  flex-flow: row;
}
.card-img{
  transition: transform .5s;
}
.card-img:hover{
  transform: scale(1.1);
}
.btn-card{
  margin-top: 20px;
}
.card-txt{
margin: 0 auto;
position: absolute;
top: 20%;  
padding: 30px;
font-size: 15pt;
}
.show{
display: block;
}
.infra{
  max-width: 1520px;
  height: 100%;
  width: 100%;
  text-align: center;
}
.slider-wrapper{
  position: absolute;
  width: 100%;
  left: 0;
  justify-content: center;
  margin-bottom: 100px;
}
.dot-counter{
  position: absolute;
  z-index: 1;
  align-content: center;
  display: flex;
  left: 48%;
  top: 316%;
}
.dot{
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.6s ease;
  margin-left: 10px;
}

.active {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.banner{
  position: absolute;
  width: 100%;
  left: 0;
}
button.cintillo-btn{
  border-color: #fff;
  background: none;
  border-width: 2pt;
  border-style: solid;
}
.cintillo-btn:hover{
  background-color: rgba(255, 255, 255, 0.226);
}
.cintillo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#485CC7 ;
  height: 267px;
  top: 50%;
  padding-right: 150px;
  padding-left: 150px;
  max-width: 1520px;
  margin: auto;
}
.th{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #051E42;
}
.tittle-history{
  color: white;
  padding-top: 150px;
  margin-bottom: 0;
  padding-top: 0;
  font-size: 30pt;
}
#clients{
  position: absolute;
  background-color: white;
  color: #051E42;
  height: 100%;
  width: 100%;
  left: 0;
  margin-top: 265px;
  margin-bottom: 400px;
}
h2.logo-tittle{
  margin-bottom: 50px;
  font-size: 30pt;
}
.clientes{
  display: flex;
  flex-flow: row;
  padding-top: 40px;
  background-color: white;
  padding-bottom: 60px;
}
.historia{
  text-align: center;
}

.datos{
  text-align: left;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}  
.num-txt{
  display: flex;
  flex-flow: row;
  margin-right: 50pt;
}
.num{
  font-family: "Norms-bold";
  font-size: 60pt;
  font-weight: bold;
}
.datos-txt{
  font-size: 25pt;
  padding-left: 20px;
  padding-top: 5px;
}
.linea{
  position: absolute;
  top: 388px;
  left: 1148px;
}
.logos{
  text-align: center;
  margin: 0 auto;
  margin-top: 20%;
}
.Contact{
  position: absolute;
  background-image: url(../assets/Bg-Contacto.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  margin-top: 1200px;
  margin-bottom: 0px;
}
.contacto{
  padding-left: 5%;
  padding-top: 250px;
}
.container-map-contact{
  display: flex;
  flex-flow: row;
  justify-content: center;
}
form{
  width: 500px;
  display: flex;
  flex-direction: column;
  color: white;
}
.input-wrapper{
  position: relative;
  backdrop-filter: blur(7px);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input{
  height: 42px;
  width: 500px;
  opacity: .5;
  color:rgba(0, 0, 0, 0.788);
  border-radius: 10px;
  border-style: none;    
  margin-top: 12px;
  padding-left: 32px;
}
input:focus{
  opacity: .7;
  border-color: #fff;
  outline: none;
  border-width: 2pt;
}
input:hover{
  opacity: .7;
}
.input-icon{
  position: absolute;
  left: 12px;
  top: 50%;
}
input.message{
  height: 120px;
  top: 20%;
}
.message-icon{
  top:20%;
}
.form-bttn{
  margin-top: 12px;
  width: 500px;
}
footer{
  margin-top: 2300px;
  background-color: #051E42;
  width: 100%;
}
.footer{
  height: 328px;
  color: white;
  padding-top: 30px;
  display:flex;
  flex-flow: row;
  justify-content: space-between;
}
.links{
  margin-bottom: 15px;
}
.redes{
  display: flex;
  flex-flow: column;
  align-items: right;
  justify-content:right;
  text-align: right;
  padding-right: 30px;
  margin-right: 0;
  justify-content: space-between;
}
.redes-icon{
  display: flex;
  flex-flow: row;
  justify-content: right;
  padding-left: 30px; 
  margin-top: 20px; 
}  
.redes-icon:hover{
  fill: #485CC7;
}
.hidden{
  display: none;
}
.message-form{
  display:none;
}
.ais-btn{
  margin-top: 20px;
}

body {
  line-height: 1.2;
}

#timeline {
  display: flex;
  background-color: #051E42;
  &:hover {
    .tl-item {
      width: 23.3333%;
    }
  }
}
h1.h1tl{
  font-size: 22pt;
  margin-bottom: 10pt;
}
.year{
  font-size:22pt;
}
.line{
  background-color: white;
  height: 3px;
  width: 90%;
  position: absolute;
  z-index: 1;
  margin:auto 0;
  top: 15%;
  left: 5%;
  border-radius: 10px;
}
.tl-content{
  margin-top: 28px;
  margin-left: 10px;
  margin-right: 10px;
}
.vline{
  background-color: white;
  height: 80px;
  width: 3px;
  position: absolute;
  z-index: 3;
  top: 30%;
  left: 50%;
}
.circle{
  border-radius: 15px;
  height: 10px;
  width: 10px;
  position: absolute;
  z-index: 5;
  top: 43%;
  left: 48.9%;
  border: 3px;
  border-color: red;
  background-color: white;
}
.Titulo{
  margin: auto 0;
  text-align: center;
  background-color: #031625;
  padding: 30px;
}
.tittle{
  font-style: bold;
}
.icon{
  align-items: center;
  justify-content: center;
  margin: auto 0;
  z-index: 9;
  position: absolute;
  top: 8%;
}

.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 10vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
  
  &:before, &:after {
    transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
  }

  &:after {
    background: transparentize(#031625, 0.15);
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  &:before {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(162,0,103,1) 75%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  &:hover {
    width: 30% !important;
    
    &:after {
      opacity: 0;
    }

    &:before {
      opacity: 1;
      transform: translate3d(0, 0, 0) translateY(0);
      transition: opacity 1s ease, transform 1s ease 0.25s;
    }
    
    .tl-content {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.75s ease 0.5s;
    }

    .tl-bg {
      filter: grayscale(0);
    }
    .icon{
      left:33.33%;
      animation-duration: 3s;
    }
  }
}

.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 58%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.295);
  padding: 20px;
  border-radius:10px;
  margin-top: 60px;
  h1 {
    text-transform: uppercase;
    color: #1779cf;
    font-size: 1.44rem;
    font-weight: normal;
  }
}

.tl-year {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  
  p {
    font-size: 1.728rem;
    line-height: 0;
  }
}

.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}





@media only screen and (max-width: 1620px) {
.container {
  max-width: 1300px;
}
.logo{
  width: 110px;
}
.menu{
  width: 1300px;
  height: 100px;
  }

.servicio{
  margin-top: 100px;
}
form{
  width: 340px;
}
.linea{
left: 40px;
top: 800px;
height: 170px;
}
.infra{
margin-top: 250px;
}
.cintillo h1{
font-size: 30pt;
}
.linea{
left: 1000px;
top: 400px;
height: 22%;
}
.timeline{
width: 360px;
}
#timeline {
  display: flex;
  background-color: #051E42;

  &:hover {
    .tl-item {
      width: 23.3333%;
    }
  }
}
h1.h1tl{
  font-size: 22pt;
  margin-bottom: 10pt;
}
.year{
  font-size:22pt;
}
.line{
  background-color: white;
  height: 3px;
  width: 90%;
  position: absolute;
  z-index: 1;
  margin:auto 0;
  top: 34%;
  left: 5%;
  border-radius: 10px;
}
.vline{
  background-color: white;
  height: 80px;
  width: 3px;
  position: absolute;
  z-index: 3;
  top: 30%;
  left: 50%;
}
.circle{
  border-radius: 15px;
  height: 10px;
  width: 10px;
  position: absolute;
  z-index: 5;
  top: 43%;
  left: 48.9%;
  border: 3px;
  border-color: red;
  background-color: white;
}
.Titulo{
  margin: auto 0;
  text-align: center;
  background-color: #031625;
  padding: 30px;
}
.tittle{
  font-style: bold;
}
.icon{
  align-items: center;
  justify-content: center;
  margin: auto 0;
  z-index: 9;
  position: absolute;
  left: 25%;
  top: 8%;
}

.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 10vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
  
  &:before, &:after {
    transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
  }

  &:after {
    background: transparentize(#031625, 0.15);
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  &:before {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(162,0,103,1) 75%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  &:hover {
    width: 30% !important;
    
    &:after {
      opacity: 0;
    }

    &:before {
      opacity: 1;
      transform: translate3d(0, 0, 0) translateY(0);
      transition: opacity 1s ease, transform 1s ease 0.25s;
    }
    
    .tl-content {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.75s ease 0.5s;
    }

    .tl-bg {
      filter: grayscale(0);
    }
    .icon{
      left:29%;
      animation-duration: 3s;
    }
  }
}
.line{
top: 380px;
}
#clients{
height: 140%;
}
#cntc{
height: 140%;
}
.card-tittle{
width: 585px;
}
.btn-ser{
display: none;
}
}
.imap{
  width:500px; 
  height:500px;
}
.map{
  margin-top: 265px;
}
@media only screen and (max-width: 1520px) {
.container {
  max-width: 1300px;
}
.line{
margin-top: 500px;
  }
.menu{
  width: 1300px;
  height: 100px;
  }

.servicio{
  margin-top: 50px;
}
form{
  color: #051E42;
  width: 340px;
}
}

@media only screen and (max-width: 1366px) {
.container {
  max-width: 1150px;
}
.line{

  }
.menu{
  width: 1150px;
  height: 100px;
  }

.servicio{
  margin-top: 100px;
}
form{
  width: 340px;
}
.linea{
left: 40px;
top: 800px;
height: 170px;
}
}

@media only screen and (max-width: 1280px) {
.container {
  max-width: 1170px;
}
.line{

  }
.menu{
  width: 1150px;
  height: 100px;
  }

.servicio{
  margin-top: 100px;
}
form{
  width: 340px;
}
.linea{
left: 40px;
top: 800px;
height: 170px;
}
}
@media only screen and (max-width: 460px) {
  #timeline{
      display: flex;
      flex-flow: column;
      &:hover {
          .tl-item {
            width: 100%;
          }
        }    
  }
  .tl-item{
      width: 100%;
      height: ;

  &:hover {
      width: 100% !important;
      }
  }
  .line{
    display: none;
      background-color: white;
      height: 2600px;
      width: 3px;
      position: absolute;
      z-index: 1;
      margin:auto 0;
      top: 40%;
      left: 6%;
      border-radius: 10px;
    }
    .vline{
      background-color: white;
      height: 3px;
      width: 50px;
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 4%;
    }
    .circle{
      border-radius: 15px;
      height: 10px;
      width: 10px;
      position: absolute;
      z-index: 5;
      top: 49.5%;
      left: 18%;
      border: 3px;
      border-color: red;
      background-color: white;
    }
    .tl-item{
      height: 400px;
    }
    .icon{
      width: 100px;
    }
    .icon:hover{
      left: 32%;
    }
}
@media only screen and (max-width: 431px) {
.container {
  max-width: 390px;
}
.menu{
  width: 390px;
  height: 100px;
}
.box{
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background: 0% 0% no-repeat padding-box padding-box rgba(100, 100, 100, 0.3);
  backdrop-filter: blur(8px);
  z-index: 3;
}
.menu-mobile{
  width: 70%;
  height: 100%;
  position: fixed;
  right: 0;
  background-color:#051E42 ;
  padding-top: 140px;
  z-index: 4;
  display: grid;
  justify-content: space-around;
  background: 0% 0% no-repeat padding-box padding-box rgba(14, 33, 75, 0.8);
  backdrop-filter: blur(20px);
}
.row{
  display: flex;
  flex-flow: row;
}
.options{
  display:flex;
  flex-flow: column;
  margin-bottom: 50px;
  justify-content: space-between;
}
.options2{
  display: flexbox;
  
  justify-content: space-between;
}
.logo{
  width: 100px;
}
.hidden{
  display: flex;
}
.desktop-hidden{
  display: none;
}
.above{
  padding-top: 130px;
}
h1{
  font-size: 25pt;
  font-weight:bold;
}
h3{
  font-size: 18pt;
}
.servicio{
  margin-top: 30px;
}
.cards{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 30px;
  column-gap: 55px;
}
#Card{
  height: 230px;
}
.card-wrapper{
  height: 390px;
}
.card-tittle{
  width: 350px;
}
.card-icon-tittle h2{
  font-size: 18pt;
}
.card-icon{
  width: 25px;
}
.card-img{
  width: 100%;
  height: 100%;
}
.card-txt{
  overflow:auto;
  word-wrap: break-word;
  font-weight: lighter;
  font-size: 12pt;
  }
.infra{
  margin-top: 400px;
}
.dot-counter{
  left: 40%;
  top: 338%;
}
.banner{
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.cintillo{
  flex-flow: column; 
  text-align: center;
  padding-top: 70px;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

button.cintillo-btn{
  margin-top: -155px;
}

.cintillo h1{
  font-size: 18pt;
}
#Clients{
  height: 200%;
}
.clientes{
  flex-flow: column;
  padding-left: 20px;
  padding-top: 30px;
}
.datos{
  padding-top: 40px;
  flex-flow: column;
}
.counter{
  text-align: center;
}
.num-txt{
  margin-bottom: 50px;
}
.num{
  font-size: 40pt;
}
.datos-txt{
  font-size: 18pt;
}
.linea{
  left: 74px;
  top: 930px;
  height: 170px;
}
.Contact{
  margin-top: 1600px;
}
.num{
  color:white;
}
.datos-txt{
  color:white;
}
.container-map-contact{
  display: flex;
  flex-flow: column;
}
.map{
  margin-left: 20px;
  margin-top: 50px;
}
.imap{
  width:380px; 
  height:250px;
}
iframe{
  height: 500px;
  width: 500px;
}
/*#cntc{
  margin-top: 3500px;
} */
.Contact{
  margin-top: 3900px;
}
.contacto{
  padding-left: 5%;
  margin-top: 0;
  padding-top: 50px;
}
.input-wrapper{
  width: 389px;
}
input{
  width: 389px;
}
form{
  width: 389px;
}
.form-bttn{
  width: 389px;
}
.redes{
  text-align: center;
}
.redes-column{
  align-items: center;
  margin-top:50px;
}
.redes-icon{
  justify-content: center;
  margin-bottom: 30px;
  padding-right: 30px;
}
.footer{
  margin-top: 4800px;
  padding-top: 300px;
  flex-flow: column;
}
.espaciado{
  display: none;
}
}
#timeline {
  display: flex;
  background-color: #051E42;

  &:hover {
    .tl-item {
      width: 100%;
    }
  }
}
h1.h1tl{
  font-size: 22pt;
  margin-bottom: 10pt;
}
.year{
  font-size:22pt;
}
.line{
  background-color: white;
  height: 3px;
  width: 90%;
  position: absolute;
  z-index: 1;
  margin:auto 0;
  top: 36%;
  left: 5%;
  border-radius: 10px;
}
.vline{
  background-color: white;
  height: 80px;
  width: 3px;
  position: absolute;
  z-index: 3;
  top: 30%;
  left: 50%;
}
.circle{
  border-radius: 15px;
  height: 10px;
  width: 10px;
  position: absolute;
  z-index: 5;
  top: 43%;
  left: 48.9%;
  border: 3px;
  border-color: red;
  background-color: white;
}
.Titulo{
  margin: auto 0;
  text-align: center;
  background-color: #031625;
  padding: 30px;
}
.tittle{
  font-style: bold;
}
.icon{
  align-items: center;
  justify-content: center;
  margin: auto 0;
  z-index: 9;
  position: absolute;
  left: 32%;
  top: 8%;
}

.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 100%;
  height: 300px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
  
  &:before, &:after {
    transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
  }

  &:after {
    background: transparentize(#031625, 0.15);
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  &:before {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(162,0,103,1) 75%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  &:hover {
    width: 100% !important;
    
    &:after {
      opacity: 0;
    }

    &:before {
      opacity: 1;
      transform: translate3d(0, 0, 0) translateY(0);
      transition: opacity 1s ease, transform 1s ease 0.25s;
    }
    
    .tl-content {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.75s ease 0.5s;
    }

    .tl-bg {
      filter: grayscale(0);
    }
    .icon{
      left:32%;
      animation-duration: 3s;
    }
  }
}

@media only screen and (max-width: 420px) {
.line{
  top:910px;
  left: 75px;
}
}
@media only screen and (max-width: 414px) {
.linea{
  top:900px;
  left: 70px;
}
}
@media only screen and (max-width: 410px) {
  .container {
    max-width: 370px;
  }
.menu{
    width: 370px;
    height: 90px;
    }
.input-wrapper{
    width: 360px;
}
input{
    width: 360px;
}
.servicio{
  margin-top: 100px;
}
.timeline-mob{
  width: 370px;
}
.form-bttn{
    width: 360px;
}
.card-wrapper{
  height: 200px;
}
.card-tittle{
  width: 330px;
}
.infra{
  margin-top: 450px;
}
.dot-counter{
  left: 40%;
  top: 345%;
}
.cintillo h1{
  margin-top: -30px;
}
.cintillo-btn{
  margin-top: -180px;
}
}
@media only screen and (max-width: 390px) {
  .container {
    max-width: 370px;
  }
.menu{
    width: 370px;
    height: 90px;
    }
.input-wrapper{
    width: 360px;
}
input{
    width: 360px;
}
.form-bttn{
    width: 360px;
}
.infra{
  margin-top: 450px;
}
.linea{
  left: 55px;
  top: 850px;
}
}
@media only screen and (max-width: 360px) {
  .container {
    max-width: 340px;
  }
.menu{
    width: 340px;
    height: 90px;
    }
.input-wrapper{
    width: 340px;
}
input{
    width: 330px;
}
.form-bttn{
    width: 330px;
}

form{
    width: 340px;
}
.infra{
  margin-top: 450px;
}
.card-wrapper{
  width: ;
}
.linea{
  left: 45px;
  top: 790px;
  height: 170px;
}
.cintillo h1{
  margin-top: -25px;
}
.cintillo-btn{
  margin-top: -170px;
}
.timeline-mob{
  width: 330px ;
}
}
@media only screen and (max-width: 350px) {
  .container {
    max-width: 310px;
  }
.menu{
    width: 310px;
    height: 90px;
    }
.input-wrapper{
    width: 290px;
}
input{
    width: 290px;
}
.form-bttn{
    width: 290px;
}
.infra{
  margin-top: 450px;
}
}
@media only screen and (max-width: 320px) {
.container {
  max-width: 310px;
}
.menu{
  width: 310px;
  height: 90px;
  }
.input-wrapper{
  width: 290px;
}
input{
  width: 290px;
}
.form-bttn{
  width: 290px;
}
.infra{
  margin-top: 450px;
}
}
@media only screen and (max-width: 300px) {
.container {
  max-width: 310px;
}
.menu{
  width: 310px;
  height: 90px;
  }
.input-wrapper{
  width: 290px;
}
input{
  width: 290px;
}
.form-bttn{
  width: 290px;
}
}